h1 {
    color:#F65A83;
    text-align: center;
    font-size:40px; 
}
.text{
color:purple;
}
.p{
    color:#A66CFF;
    font-size:25px;
}
.MusicDevice{
    list-style-position: inside;
    
}
.li_product_font{
    font-weight: bold;
    font-style: italic;
}
h3{
    color:#BF9742
}